sbody {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

button {
  cursor: pointer;
  margin: 5px;
}

.numbers {
  border: 1px solid gray;
  padding: 10px;
  list-style-type: none;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}

.number {
  display: inline-block; /* para ficar em linha e quando chegar no fim ir pra próxima linha */
  margin: 10px;
  border: 1px solid gray;
  width: 25px;
  border-radius: 100%;
  padding: 5px;
  user-select: none; /* para para que eu não consiga selecionar e copiar os números */
  cursor: pointer;
}

.selected-number {
  background-color: lightgreen;
}

h1 {
  text-align: center;
}
h3 {
  text-align: center;
  color: red;
}
#megasena-buttons {
  text-align: center;
}

footer {
  text-align: center;
}
